@import "tailwindcss";

@theme {
  --font-heading: "Hanken Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-primary: #012d1d;
  --color-primary-container: #1b4332;
  --color-on-primary: #ffffff;
  --color-secondary: #2c694e;
  --color-on-surface: #191c1c;
  --color-on-surface-variant: #414844;
  --color-surface: #f8faf9;
  --color-surface-container-lowest: #ffffff;
  --color-outline-variant: #c1c8c2;
  --color-error: #ba1a1a;

  --shadow-level-1: 0px 4px 20px rgba(0, 0, 0, 0.03);
  --shadow-level-2: 0px 8px 30px rgba(0, 0, 0, 0.06);

  --text-headline-xl: 60px;
  --text-headline-xl--line-height: 72px;
  --text-headline-md: 32px;
  --text-headline-md--line-height: 40px;
  --text-headline-sm: 24px;
  --text-headline-sm--line-height: 32px;
  --text-headline-lg-mobile: 36px;
  --text-headline-lg-mobile--line-height: 44px;
  --text-body-lg: 18px;
  --text-body-lg--line-height: 28px;
  --text-body-md: 16px;
  --text-body-md--line-height: 24px;
  --text-body-sm: 14px;
  --text-body-sm--line-height: 20px;
  --text-label-md: 14px;
  --text-label-md--line-height: 16px;
  --text-label-md--letter-spacing: 0.05em;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-body);
  overflow-x: hidden;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.icon-fill-1 {
  font-variation-settings: 'FILL' 1;
}